<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="{{ path('address_book_display_search') }}" method="post">
        <div class="input-group">
            {{ form_widget(form.word, {'attr' : {'class' : 'form-control bg-light border-0 small', 'placeholder': 'Search for...'}}) }}
            <div class="input-group-append">
                <button class="btn btn-primary"  type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</nav>